<div id="footer">
  <div class="wrapper-footer-content">
    <div class="wrapper-footer-left">
      <ul class="linkset footer-links footer-links-1">
        <li class="footer-link footer-link-1">
          <a href="/about"> About </a>
         </li>
        <li class="footer-link footer-link-1">
          <a href="/portfolio">Portfolio</a>
         </li>
        <li class="footer-link footer-link-1">
          <a href="/skills">Skills</a>
         </li>
      </ul>
    </div>
    <div class="wrapper-footer-right">
      <ul class="linkset footer-links footer-links-2">
        <li class="footer-link footer-link-2">
           <a href="http://www.github.com/danieladler">
             <i class="fa fa-github fa-2x"></i>
           </a>
        </li>
        <li class="footer-link footer-link-2">
           <a href="https://www.linkedin.com/in/daniel-adler-a45a5913/">
             <i class="fa fa-linkedin fa-2x"></i>
           </a>
        </li>
        <li class="footer-link footer-link-2">
           <a href="http://instagram.com/dadler">
             <i class="fa fa-instagram fa-2x"></i>
           </a>
        </li>
        <li class="footer-link footer-link-2">
           <a href="mailto:hello@dadler.codes">
             <i class="fa fa-envelope-o fa-2x"></i>
           </a>
        </li>
      </ul>
    </div>
  </div>
</div>
