<div id="header">
  <h1 class="header-name">
    <a href="/" class="home-link">Daniel {Weston} Adler</a>
  </h1>
  <ul class="linkset header-links header-links-1">
    <li class="header-link header-link-1">
      <a href="/about"> About </a>
     </li>
    <li class="header-link header-link-1">
      <a href="#">Projects</a>
     </li>
    <li class="header-link header-link-1">
      <a href="#">Skills</a>
     </li>
    <li class="header-link header-link-1">
      <a href="#" id="links-social">Links</a>
     </li>
  </ul>
  <ul class="linkset header-links header-links-2" id="header-links-2">
    <li class="header-link header-link-2">
       <a href="http://www.github.com/danieladler">
         Github
       </a>
    </li>
    <li class="header-link header-link-2">
       <a href="https://www.linkedin.com/in/daniel-adler-a45a5913/">
         LinkedIn
       </a>
    </li>
    <li class="header-link header-link-2">
       <a href="http://instagram.com/dadler">
         Instagram
       </a>
    </li>
    <li class="header-link header-link-2">
       <a href="mailto:hello@dadler.codes">
         Email
       </a>
    </li>
  </ul>
</div>
