<div id="header">
  <h1 class="header-name">
    Daniel {Weston} Adler
  </h1>
  <ul class="header-links header-links-1">
    <li class="header-link header-link-1">
      <a href="#"> About </a>
     </li>
    <li class="header-link header-link-1">
      <a href="#">Projects</a>
     </li>
    <li class="header-link header-link-1">
      <a href="#">Skills</a>
     </li>
    <li class="header-link header-link-1">
      <a href="#" id="links-social">Links</a>
     </li>
  </ul>
  <ul class="header-links header-links-2" id="header-links-2">
    <li class="header-link header-link-2">
       <a href="#">
         Github
       </a>
    </li>
    <li class="header-link header-link-2">
       <a href="#">
         LinkedIn
       </a>
    </li>
    <li class="header-link header-link-2">
       <a href="#">
         Instagram
       </a>
    </li>
    <li class="header-link header-link-2">
       <a href="#">
         Email
       </a>
    </li>
  </ul>
</div>
