<head>
  <meta charset="utf-8">
  <title>Daniel Adler</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  <script type="text/javascript" src="{{ "/javascripts/main.js" | prepend: site.baseurl }}"></script>
  <script src="https://use.fontawesome.com/63f44a7836.js"></script>
</head>
