{% for project in site.projects %}
  <div class="project-portfolio-item">
    <a name="{{project.anchor-link}}"></a>
    <div class="wrapper-project-portfolio-image">
      <img src="{{project.image-link}}" class="project-portfolio-image" />
    </div>
    <div class="wrapper-project-portfolio-content">
      <h3 class="title title-project-portfolio-item"> {{ project.title }} </h3>
      <div class="details-project-portfolio">
        <a href="{{project.real-link}}">
          Visit
        </a> |
        <a href="{{project.gh-link}}">
          Source
        </a>
      </div>
      <p class="copy copy-project-portfolio-item">
        {{ project.blurb-long }}
      </p>
      <div class="wrapper-project-portfolio-details">
        <div class="details-project">
          <ul class="list-project-tech">
            <li>
              Technology highlights:
            </li>
            <li>
              <i class="fa fa-thumbs-up"></i>
              {{project.tech-1}}
            </li>
            <li>
              <i class="fa fa-thumbs-up"></i>
              {{project.tech-2}}
            </li>
            <li>
              <i class="fa fa-thumbs-up"></i>
              {{project.tech-3}}
            </li>
            {% if project.tech-4 %}
              <li>
                <i class="fa fa-thumbs-up"></i>
                {{project.tech-4}}
              </li>
            {% endif %}
            {% if project.tech-5 %}
              <li>
                <i class="fa fa-thumbs-up"></i>
                {{project.tech-5}}
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
