{% for project in site.projects %}
  <div class="project-index-item">
    <div class="wrapper-project-index-image">
      <div class="wrapper-transform-assistant">
        <img src="{{project.image-link}}" class="project-index-image transform-animate" />
      </div>
    </div>
    <div class="wrapper-project-index-content">
      <h3 class="title title-project-index-item"> {{ project.title }} </h3>
      <p class="copy copy-project-index-item">
        {{ project.blurb-short }}
      </p>
      <div class="wrapper-project-index-details">
        <div class="details-project">
          <a href="/portfolio/#{{project.anchor-link}}">
            More Info
          </a> |
          <a href="{{project.real-link}}">
            Visit
          </a> |
          <a href="{{project.gh-link}}">
            Source
          </a>
        </div>
        <div class="details-project">
          <ul class="list-project-tech">
            <li>
              <i class="fa fa-thumbs-up"></i>
              {{project.tech-1}}
            </li>
            <li>
              <i class="fa fa-thumbs-up"></i>
              {{project.tech-2}}
            </li>
            <li>
              <i class="fa fa-thumbs-up"></i>
              {{project.tech-3}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
