

body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
  min-width: $small-screen;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Karla";
}

a,
a:visited, {
  color: $link-color;
  text-decoration: none;
  transition: $common-transition;
}

a:hover {
  color: $base-gold;
}

.main-content {
  @include outer-container;
  padding: 0 $padding-body-margin-replacement;
  flex: 1
}

.linkset {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

.wrapper-transform-assistant {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.transform-animate {
  position: absolute;
}
