#footer {
  background-color: darken(darkgrey, 50);
  height: $footer-height;
}

.wrapper-footer-content {
  @include outer-container;
  padding: 0 $padding-body-margin-replacement;
}

.wrapper-footer-left,
.wrapper-footer-right {
  display: inline-block;
  height: $footer-height;
  transition: $common-transition;
}

.wrapper-footer-left {
  float: left;
  padding: 12px 0 12px 12px;

  @media (max-width: $medium-screen) {
    display: none;
  }
}

.wrapper-footer-right {
  float: right;

  @media (max-width: $medium-screen) {
    float: none;
    width: 100%;

    & li:first-child {
      padding-left: 0;
    }
  }
}

.copy-footer {
  color: lightgrey;
  font-size: 12px;
  height: 100%;
}

.footer-link {
  transition: $common-transition;
  a {
    color: white;
  }

  a:hover {
    color: gold;
  }
}

.footer-link-1,
.footer-link-2 {
  display: inline-block;
  @include media($small-up) {
    width: auto;
  }
}

.footer-link-1 {
  @include media($small-up) {
    font-size: 12px;
  }

  @include media($large-mobile-up) {
    font-size: 16px;
    width: 60px;
  }
}

.footer-link-2 {
  @include media($small-up) {
    font-size: 12px;
    padding: 0 5px;
  }

  @include media($large-mobile-up) {
    font-size: 16px;
    width: 45px;
  }

  @include media($medium-up) {
    width: 60px;
  }
}

.footer-links-2 {
  margin: 10px 0;
}
