#header {
  @include outer-container;
  // height: $header-height;
  padding: $padding-body-margin-replacement;
}

 a.home-link {
  color: black;
}

.header-name,
.header-links-1,
.header-links-2 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: block;
}

.header-name {
  margin: 10px 0 20px 0;
}

.header-links {
  padding: 10px;
  @include outer-container;
}

.header-links-1 {
  // TBD
}

.header-links-2 {
  display: none;
  border-top: 1px solid lightgrey;
}

.header-link {

}

.header-link-1,
.header-link-2 {
  @include media($small-up) {
    @include span-columns(3)
  }
}

.header-link-2 {
  // TBD
}
