#header {
  @include outer-container;
  // height: $header-height;
  padding: $padding-body-margin-replacement;
}

 a.home-link {
  color: black;
}

.header-name,
.header-links-1,
.header-links-2 {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  display: block;
}

.header-name {
  margin: 10px 0 10px 0;
  font-family: "Karla";

  @include media($small-up) {
    font-size: 20px;
  }

  @include media($large-mobile-up) {
    font-size: 36px;
  }
}

// header links containers

.header-links {
  @include outer-container;

  @include media($small-up) {
    padding: 5px 0px;
  }

  @include media($medium-up) {
    padding: 10px;
  }
}

.header-links-1 {
  // TBD
}

.header-links-2 {
  display: none;
  border-top: 1px solid lightgrey;
}

// the actual header links

.header-link {
  @include media($small-up) {
    font-size: 12px;
  }

  @include media($medium-up) {
    font-size: 16px;
  }
}

.header-link-1 {
  @include media($small-up) {
    @include span-columns(4)
  }
}

.header-link-2 {
  @media(max-width: $large-mobile) {
    font-size: 10px;
  }

  @include media($small-up) {
    @include span-columns(3);
    // margin: 0;
  }
}

.header-link-2 {
  // TBD
}
