////////// 'about' section //////////
// use wrapper- classes to utilize Neat responsive grid + flexbox.
// (Neat overrides display: flex, so have to nest wrappers with flex property)
.wrapper-about,
.wrapper-promo,
.wrapper-portfolio-index {
  @include media($small-up) {
    @include span-columns(12);
  }
}

.wrapper-about-left {
  @include media($small-up) {
    @include span-columns(8);
  }
}

.wrapper-about-right {
  @include media($small-up) {
    @include span-columns(4);
  }
}

.wrapper-image-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.about,
.promo,
.portfolio-index {
  background-color: skyblue;
  margin: 10px 0;
  padding: 10px;
  display: flex;
}

.promo,
.portfolio-index {
  flex-direction: column;
}

.about-left,
.about-right {
  background-color: skyblue;
  padding: 10px;
  height: 100%;
  // TEMPORARY
  border: 1px solid pink;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.copy-about {
  padding: 10px;
  border: 1px solid pink;
}

.image-about {
  background-image: url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/DWA.profile.smile-crop.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  border-radius: 50%;
  padding-bottom: 90%;
  margin: 0 auto;
  transition: $common-transition;
}

.portfolio-index-item {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.wrapper-portfolio-index-image {
  @include media($small-up) {
    display: none;
  }

  @include media($medium-up) {
    @include span-columns(2);
  }
}

.wrapper-portfolio-index-content {
  @include media($small-up) {
    @include span-columns(12);
  }

  @include media($medium-up) {
    @include span-columns(10);
  }
}

.portfolio-index-image {
  min-height: 115px;
  min-width:  115px;
  background-color: lightgray;
}

.wrapper-portfolio-index-details {
  @include outer-container;
  margin: 10px 0;

  .details {
    margin: 5px 0;
  }

  .details-left,
  .details-right {
    @include media($small-up) {
      @include span-columns(12);
    }

    @include media($medium-up) {
      @include span-columns(6);
    }
  }

  .details-right {
    @include media($medium-up) {
      text-align: right;
      padding-right: 10px;
    }
  }
}
