////////// 'about' section //////////
// use wrapper- classes to utilize Neat responsive grid + flexbox.
// (Neat overrides display: flex, so have to nest wrappers with flex property)
.wrapper-about,
.wrapper-promo,
.wrapper-portfolio-index {
  @include media($small-up) {
    @include span-columns(12);
  }
}

.wrapper-about-left {
  @include media($small-up) {
    @include span-columns(12);
  }
  @include media($large-mobile-up) {
    @include span-columns(8);
  }
}

.wrapper-about-right {
  @include media($small-up) {
    // @include span-columns(4);
    display: none;
  }

  @include media($large-mobile-up) {
    @include span-columns(4);
  }
}

.wrapper-image-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.about,
.promo,
.portfolio-index {
  margin: 10px 0;
  padding: 10px;
  display: flex;
}

.promo,
.portfolio-index {
  flex-direction: column;
}

.promo {
  background-color: skyblue;
}

.portfolio-index {
  margin-bottom: 0;
}

.about-left,
.about-right {
  padding: 10px 0;
  height: 100%;
}

.about-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.copy-about {
  margin: 0;
  padding: 10px 0;
  font-size: 20px;
}

.image-about {
  background-image: url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/DWA.profile.smile-crop.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  border-radius: 50%;
  padding-bottom: 90%;
  margin: 0 auto;
  margin-right: 0;
  transition: $common-transition;

  @media(max-width: $large-mobile) {
    display: none;
  }
}

.project-index-item {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.wrapper-project-index-image {
  @include media($small-up) {
    display: none;
  }

  @include media($medium-up) {
    @include span-columns(3);
  }
}

.wrapper-project-index-content {
  @include media($small-up) {
    @include span-columns(12);
  }

  @include media($medium-up) {
    @include span-columns(9);
  }
}

.project-index-image {
  min-height: 130px;
  width: 100%;
  background-color: lightgray;
}

.wrapper-project-index-details {
  @include outer-container;
  margin: 10px 0;

  .details-project {
    @include media($small-up) {
      @include span-columns(12);
    }
  }

  .list-project-tech {
    list-style-type: none;
    padding-left: 0;
    color: grey;

    & li {
      display: inline;
      padding-right: 10px;
    }
  }
}
