////////// 'about-index' section //////////
// use wrapper- classes to utilize Neat responsive grid + flexbox.
// (Neat overrides display: flex, so have to nest wrappers with flex property)
.wrapper-about-index,
.wrapper-promo,
.wrapper-portfolio-index {
  @include media($small-up) {
    @include span-columns(12);
  }
}

.wrapper-about-index-left {
  @include media($small-up) {
    @include span-columns(12);
  }
  @include media($large-mobile-up) {
    @include span-columns(8);
  }
}

.wrapper-about-index-right {
  @include media($small-up) {
    // @include span-columns(4);
    display: none;
  }

  @include media($large-mobile-up) {
    @include span-columns(4);
  }
}

.wrapper-image-about-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.about-index,
.promo,
.portfolio-index {
  // margin: 10px 0;
  margin: 0 0 10px 0;
  padding: 10px;
  display: flex;
}

.promo,
.portfolio-index {
  flex-direction: column;
}

.promo {
  background-color: lighten($base-greyblue, 20%);
  border: 1px solid $base-gold;
  border-radius: 5px;
}

.title-promo {
  // color: $base-orange;
}

.portfolio-index {
  margin-bottom: 0;
}

.about-index-left,
.about-index-right {
  padding: 10px 0;
  height: 100%;
}

.about-index,
.about-index-left {
  @media (max-width: $medium-screen + 1) {
    padding-top: 0px;
  }
}

.about-index-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.copy-about-index {
  margin: 0;
  padding: 10px 0;

  @media (max-width: $medium-screen) {
  }

  @include media($small-up) {
    font-size: 16px;
    text-align: center;
  }

  @include media($medium-up) {
    font-size: 20px;
  }
}

.image-about-index {
  background-image: url("https://s3-us-west-2.amazonaws.com/dadler-codes/expressJS-development/DWA.profile.smile-crop.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
  border-radius: 50%;
  padding-bottom: 90%;
  margin: 0 auto;
  margin-right: 0;
  transition: $common-transition;

  @media(max-width: $large-mobile) {
    display: none;
  }
}

.project-index-item {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}

.title-project-index-item {
  @include media($small-up) {
    margin-bottom: 2px;
  }

  @include media($medium-up) {
    margin-bottom: 10px;
  }
}

.wrapper-project-index-image {
  @include media($small-up) {
    display: none;
  }

  @include media($medium-up) {
    @include span-columns(4);
  }
}

.wrapper-project-index-content {
  transition: $offscreen-transition;

  @include media($small-up) {
    @include span-columns(12);
  }

  @include media($medium-up) {
    @include span-columns(8);
  }
}

.project-index-image {
  min-height: 130px;
  width: 100%;
  background-color: lightgray;
  transition: $offscreen-transition;

  @media (max-width: $medium-screen) {
    transform: translateX(-300px);
  }
}


.wrapper-project-index-details {
  @include outer-container;
  margin: 10px 0;

  .details-project {
    @include media($small-up) {
      @include span-columns(12);
    }
  }

  .list-project-tech {
    list-style-type: none;
    padding-left: 0;
    color: grey;

    & li {
      display: inline;
      padding-right: 10px;
    }
  }
}
