.wrapper-portfolio {
  @include span-columns(12);
}

.wrapper-project-portfolio-image {
  @include media($small-up) {
    @include span-columns(12);
  }
}

.wrapper-project-portfolio-content {
  @include media($small-up) {
    @include span-columns(12);
  }
}

.portfolio {
  padding: 10px;
}

.copy-project-portfolio-item {
  @include media($small-up) {
    font-size: 20px;
  }

  @include media($medium-up) {
    font-size: 16px;
  }
}

.project-portfolio-item {
  display: flex;
  flex-direction: column;
  margin: 10px 0 50px 0;
}

.title-project-portfolio-item,
.details-project-portfolio {
  display: inline-block;
}

.title-project-portfolio-item {
  font-size: 26px;
  padding-right: 15px;
}

.project-portfolio-image {
  height: 100%;
  width: 100%;
  background-color: lightgray;
  margin-bottom: 10px;
}

.wrapper-project-portfolio-details {
  @include outer-container;
  margin: 10px 0;

  .details-project-portfolio {
    @include media($small-up) {
      @include span-columns(12);
    }
  }

  .list-project-tech {
    list-style-type: none;
    padding-left: 0;
    color: grey;

    & li {
      display: inline;
      transition: 0.3s;

      @include media($small-up) {
        font-size: 12px;
        padding-right: 5px;
      }

      @include media($medium-up) {
        font-size: 16px;
        padding-right: 15px;
      }
    }
  }
}
