// typography
.title,
.copy {
  margin: 0 0 10px 0;
}

// color
$link-color: darkblue;

// spatial relationships
$header-height: 100px;

// z-indexes

// animations & transitions
$common-transition: 0.3s;
