// typography
.title,
.copy {
  margin: 0 0 10px 0;
  transition: 0.3s;
}

// color
$base-skyblue: #009FFD;
$base-greyblue: #8EA8C3;
$link-color: #009FFD;
$base-orange: #F05749;
$base-gold: #FFA400;

// spatial relationships
$padding-body-margin-replacement: 10px;
$header-height: 110px;
$footer-height: 50px;
$footer-child-padding: 10px;

// z-indexes

// animations & transitions
$common-transition: 0.3s;
$offscreen-transition: 0.5s ease;
